[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ASSIGN"]
	path = ASSIGN
	url = https://github.com/wejlab/assign
[submodule "TBSignatureProfiler"]
	path = TBSignatureProfiler
	url = https://github.com/wejlab/tbsignatureprofiler
[submodule "animalcules"]
	path = animalcules
	url = https://github.com/wejlab/animalcules
